*{
    background-color: rgb(20, 20, 20);
    color: white;
}
.heading{
    display: flex;
    justify-content: space-between;
}

.heading a{
    margin-right: 50px;
    text-decoration: none;
    padding-top: 20px;
}

.para{
    display: flex;
    justify-content: space-between;  
}

.para a{
    margin-right: 50px;
    text-decoration: none;
}
.para textarea{
    width: 99vw;
    outline: none;
}
.para button{
    background-color: blue;
    padding: 2px 10px;
    border-radius: 10px;
    border: none;
}
